In [4]:
import MeCab
import pandas as pd

In [5]:
mt = MeCab.Tagger('')

In [6]:
f = open("../../Data/trump.txt", encoding='utf8')
mdf = pd.DataFrame(columns=['Term', 'Info1', 'Info2', 'Freq'])
line = f.readline()
dic = {}
while line:
    node = mt.parseToNode(line)
    while node:
        arr = node.feature.split(',')     
        if arr[0].startswith("BOS/EOS"):
            pass
        else:
            s = dic.get(arr[6], pd.Series([arr[6], arr[0], arr[1], 0], index=mdf.columns))
            s['Freq'] += 1
            dic[arr[6]] = s
        node = node.next
    line = f.readline()

for v in dic.values():
    mdf = mdf.append(v, ignore_index=True)

f.close()
mdf.head()

  Term Info1 Info2 Freq
0  ジョン    名詞  固有名詞    1
1    ・    記号    一般    2
2    ロ    名詞  固有名詞    1
3  バーツ    名詞    一般    1
4   連邦    名詞    一般    1

In [8]:
f.close()

In [17]:
mdf[(mdf.Info1 == '名詞') & (mdf.Info2.isin(['一般','固有名詞'])) & (mdf.Freq >= 10)].sort_values(by=['Freq'], ascending=False)

    Term Info1 Info2 Freq
14  アメリカ    名詞  固有名詞   36
17   皆さん    名詞    一般   19
36     国    名詞    一般   18
13     *    名詞    一般   15
15    国民    名詞    一般   12
41     人    名詞    一般   10

In [12]:
mdf[(mdf.Info1 == '名詞') & (mdf.Info2.isin(['一般','固有名詞'])) & (mdf.Freq > 10)].sort_values(by=['Freq'], ascending=False)

     Term Info1 Info2 Freq
25     たち    名詞    接尾   42
14   アメリカ    名詞  固有名詞   36
24      私    名詞   代名詞   35
157    こと    名詞   非自立   20
17    皆さん    名詞    一般   19
36      国    名詞    一般   18
13      *    名詞    一般   15
15     国民    名詞    一般   12
40    すべて    名詞  副詞可能   11